[submodule "nvim"]
	path = .config/nvim
  url = git@github.com:mpgithubcode/neovim.git
[submodule "bspwm"]
	path = .config/bspwm
  url = git@github.com:mpgithubcode/bspwm.git
[submodule "kitty"]
	path = .config/kitty
  url = git@github.com:mpgithubcode/kitty.git
[submodule "picom"]
	path = .config/picom
  url = git@github.com:mpgithubcode/picom.git
[submodule "polybar"]
	path = .config/polybar
  url = git@github.com:mpgithubcode/polybar.git
[submodule "ranger"]
	path = .config/ranger
  url = git@github.com:mpgithubcode/ranger.git
[submodule "rofi"]
	path = .config/rofi
  url = git@github.com:mpgithubcode/rofi.git
[submodule "sxhkd"]
	path = .config/sxhkd
  url = git@github.com:mpgithubcode/sxhkd.git
